.booking-page {
  width: 100%;

  padding: 50px 20px 80px;

  box-sizing: border-box;
}

.booking-page-container {
  width: 100%;

  max-width: 500px;

  margin: 0 auto;
}

.booking-page-title {
  margin: 0 0 40px;

  color: var(--highlight-dark);

  font-size: 32px;

  font-weight: 700;

  text-align: center;
}

@media (max-width: 700px) {
  .booking-page {
    padding: 36px 20px 60px;
  }

  .booking-page-title {
    margin-bottom: 30px;

    font-size: 28px;
  }
}